# Disable Node.js Passenger
PassengerEnabled off

RewriteEngine On
# Base is / since it's likely on a subdomain root
RewriteBase /

# Route /validate/ID to index.php
RewriteRule ^validate/([A-Z0-9]+)$ index.php?transactionId=$1 [L,QSA]

# Handle root access
RewriteRule ^$ index.php [L]
